In [1]:
# import packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import timedelta
from datetime import datetime
import datetime as dt

In [2]:
# import data
fp = "C:/Users/NicholasBehrendt/Documents/Current Projects/Brighton/support-docs/data/"
file_str1 = "past_orders_operations.csv"
file_str2 = "past_orders_confirmations.csv"
file_name1 = fp+file_str1
file_name2 = fp+file_str2

operations = pd.read_csv(file_name1)
confirm = pd.read_csv(file_name2)

In [3]:
# clean data
confirm = confirm.dropna(subset=['Work Ctr'])
confirm['Work Ctr'] = confirm['Work Ctr'].astype(int)
confirm['Work Ctr'] = confirm['Work Ctr'].astype(str)

# filter last three months
confirm = confirm[pd.to_datetime(confirm['Postg date']) >= datetime(2022, 8, 1)]

In [23]:
test = confirm.copy()

test['Work Ctr'] = np.where((test['Name'] == 'Nicholas A. Lierman') & (test['Work Ctr'] == '2012'), '2008', test['Work Ctr'])
test['Work Ctr'] = np.where((test['Name'] == 'Gerald H. Craig') & (test['Work Ctr'] == '2012'), '2007', test['Work Ctr'])

#test['Work Ctr'][test['Name'] == 'Nicholas A. Lierman'] = '2008'
test[(test['Work Ctr'] == '2012') & (test['Name'] == 'Nicholas A. Lierman')]
test[(test['Work Ctr'] == '2008') & (test['Name'] == 'Gerald H. Craig')]

,Order,Activity,Confirm. text,Work Ctr,Name,Pers.No.,Entered,Reason,Counter,Confirm.,Yield,ConfirmedHours,Postg date
14572,1063209,168,NaN,2008,Gerald H. Craig,107404,APAPPU,NaN,5,1348463,0,4.0,9/9/2022

In [11]:
confirm[(confirm['Work Ctr'] == '2012') & (confirm['Name'] == 'Gerald H. Craig')]
check = confirm.groupby(by=['Work Ctr', 'Name'], as_index=False).sum('ConfirmedHours')
check[(check['Work Ctr'] == '2012') & (check['Name'] == 'Gerald H. Craig')]
check[(check['Work Ctr'] == '2012') & (check['Name'] == 'Nicholas A. Lierman')]

,Work Ctr,Name,Order,Activity,Pers.No.,Reason,Counter,Confirm.,Yield,ConfirmedHours
80,2012,Nicholas A. Lierman,45764516,7842,5606039,0.0,230,59698703,58,104.6